<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<display-name></display-name>

<!-- 
  Enable CORS on Tomcat : Place under ${tomcat_home}/conf/web.xml 
  See http://enable-cors.org/server_tomcat.html and http://tomcat.apache.org/tomcat-7.0-doc/config/filter.html#CORS_Filter
  -->
  <!-- ================== CUSTOM Filter Definitions ===================== -->
  <filter>
 <filter-name>CorsFilter</filter-name>
 <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
 <init-param>
 <param-name>cors.allowed.origins</param-name>
 <param-value>*</param-value>
 </init-param>
<init-param>
 <param-name>cors.allowed.methods</param-name>
 <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
 </init-param>
 <init-param>
 <param-name>cors.allowed.headers</param-name>
 <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
 </init-param>
 <init-param>
 <param-name>cors.exposed.headers</param-name>
 <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
 </init-param>
 <init-param>
 <param-name>cors.support.credentials</param-name>
 <param-value>true</param-value>
 </init-param>
 <init-param>
 <param-name>cors.preflight.maxage</param-name>
 <param-value>10</param-value>
 </init-param>
 </filter>
  <filter-mapping>
 <filter-name>CorsFilter</filter-name>
 <url-pattern>/*</url-pattern>
 
</filter-mapping>
<servlet>
<servlet-name>GatherDataServlet</servlet-name>
<servlet-class>com.chrome.servlet.GatherDataServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GatherDataServlet</servlet-name>
<url-pattern>/gatherData</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ResDataServlet</servlet-name>
<servlet-class>com.chrome.servlet.ResDataServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ResDataServlet</servlet-name>
<url-pattern>/resData</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>WriteLinkServlet</servlet-name>
<servlet-class>com.chrome.servlet.WriteLinkServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WriteLinkServlet</servlet-name>
<url-pattern>/writeLink</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReadLinkServlet</servlet-name>
<servlet-class>com.chrome.servlet.ReadLinkServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReadLinkServlet</servlet-name>
<url-pattern>/readLink</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TeamDataServlet</servlet-name>
<servlet-class>com.chrome.servlet.TeamDataServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TeamDataServlet</servlet-name>
<url-pattern>/teamData</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RefreshDataServlet</servlet-name>
<servlet-class>com.chrome.servlet.RefreshDataServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RefreshDataServlet</servlet-name>
<url-pattern>/refreshData</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>WritePriceServlet</servlet-name>
<servlet-class>com.chrome.servlet.WritePriceServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WritePriceServlet</servlet-name>
<url-pattern>/writePrice</url-pattern>
</servlet-mapping>

</web-app>

